<div class="backArrowDiv">
       <span matTooltip="Quay lại"
             [routerLink]="['/user/groupShare']"
             class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>

<div class="divFix">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <p>Tên nhóm</p>
          <p>Thể loại</p>
        </div>
        <div class="col">
          <input><br>
          <input><br>
          <button>Tạo nhóm</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <img src="">
      </div>
    </div>
  </div>
</div>
