<div class="backArrowDiv">
       <span matTooltip="Quay lại"
             [routerLink]="['/user/user-detail']"
             class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>
<div class="divFix">
  <div class="row">
    <div class="col-4">
      <h2 align="center" style="margin-top: 15px">Danh sách đã chặn</h2>
      <div *ngIf="count > 0" style="margin-top: 20px">
        <div class="hc shadow-box" *ngFor="let user of listUserInBlackList"
             style="border-radius: 5px; border: #afd9ee 1px solid; margin-bottom: 8px">
          <div class="row">
            <div class="col-3">
              <img
                style="font-size: 40px; width: 83px; height: 83px; border-radius: 5px; border: #d1e1ec 1px solid"
                data-toggle="tooltip" data-placement="top" matTooltip="Xem trang cá nhân"
                src="{{user?.avatar}}" routerLink="/user/people-detail/{{user?.id}}"
                alt="" class=" a1"/><br>
            </div>
            <div class="col">
              <h3>{{user?.fullName}}</h3>
              <p>{{user?.email}}</p>
            </div>
            <div class="col" align="right">
              <button class="a3" mat-stroked-button color="primary"
                      (click)="unBlock(user?.id)">Bỏ chặn
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="count == 0" align="center" style="background-color: whitesmoke">
        <div style="background-color: whitesmoke; height: 50px"></div>
        <h3>Bạn không chặn ai cả</h3>
        <span style="font-size: 30px" class="material-icons">sentiment_satisfied</span>
        <div style="background-color: whitesmoke; height: 50px"></div>
        <div style="background-color: white; height: 5px"></div>
        <div style="background-color: whitesmoke; height: 50px"></div>
        <h3>Có ai đang làm phiền bạn?</h3>
        <div style="background-color: whitesmoke; height: 50px"></div>
      </div>
    </div>
    <div class="col">
      <div class="row" style="margin-top: 10px">
        <div class="col-3" align="right">
          <mat-form-field class="example-full-width">
            <input id="search" matTooltip="Tìm kiếm theo tên và email"
                   (input)="searchByFullNameOrEmail()"
                   type="tel" matInput placeholder="Tìm kiếm...">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="checkEmptySearch">
        <h2 style="margin-right: 35px" align="center">Không tìm thấy !!</h2>
        <img style="width: 100%;" align="center" src="assets/images/565665.png">
      </div>
      <div style="height: 500px" *ngIf="!checkEmptySearch">
        <div class="row hc shadow-box" *ngFor="let user of listUser"
             style="border: #ead6e7 1px solid; border-radius: 5px; margin-bottom: 5px">
          <div class="col">
            <img style="height: 60px; width: 60px; border-radius: 10px;margin-left: 10px; margin-top: 10px"
                 matTooltip="Xem trang cá nhân"
                 routerLink="/user/people-detail/{{user?.id}}"
                 src="{{user?.avatar}}" class="a1">
          </div>
          <div class="col">
            <h3>{{user?.fullName}}</h3>
            <p>{{user?.email}}</p>
          </div>
          <div class="col">
            <sub><span style="margin-top: 5px" (click)="block(user?.id)"
                       matTooltip="Chặn người này"
                       class="a1 a2 material-icons">remove_circle</span>
            </sub>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
