<header id="header-inverse" style="background-color: #00aae6">
  <div class="row" style="height: 100px">
    <div class="col-2">
      <a style="margin-top: 30px" class="navbar-brand"><img src="assets/images/logo.png" alt="logo"/></a>
    </div>
    <div class="col-3">
    </div>
    <div class="col-2"></div>
    <div *ngIf="isLoggedIn()" class="col-4" align="right">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i class="bi bi-three-dots-vertical"></i>
        <svg style="margin-bottom: 25px; margin-right: 2px; color: whitesmoke" matTooltip="Menu"
             xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
             class="bi bi-three-dots-vertical a1" viewBox="0 0 16 16">
          <path
            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="user/edit" class="a2" mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Cài đặt</span>
        </button>
        <button class="a2" mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Tắt thông báo</span>
        </button>
      </mat-menu>

      <mat-icon [matMenuTriggerFor]="menu3" *ngIf="!checkNotifications" matTooltip="Thông báo" class="noti a1">
        notifications
      </mat-icon>
      <mat-menu #menu3="matMenu">
        <div class="row">
          <div class="col">
            <div *ngIf="!check2" style="margin-left: 10px; margin-bottom: 5px">Thông báo</div>
          </div>
          <div class="col" align="right" style="margin-right: 10px">
          <span (click)="deleteAll()" matTooltip="Xoá tất cả" style="color: gray" *ngIf="!check2"
                class="material-icons a1 font-size-18">delete_forever</span>
          </div>
        </div>
        <div class="row" *ngFor="let noti of notifications">
          <div class="row" style="margin-left: 10px; margin-right: 5px">
            <div class="col-2">
              <img class="a1" [routerLink]="['/user/people-detail', noti?.idAction?.id]"
                   src="{{noti?.idAction?.avatar}}"
                   style="width: 50px; height: 50px; border-radius: 50%">
            </div>
            <div class="col" style="margin-left: 8px; margin-top: 5px">
               <span class="a1" [routerLink]="['/user/people-detail', noti?.idAction?.id]"
                     matTooltip="Xem trang cá nhân"
                     style="color: #0a70b9">{{noti?.idAction?.fullName}}</span>
              <span [routerLink]="['/user/people-detail', noti?.idAction?.id]">&nbsp;{{noti?.title}}</span>
              <p>{{noti?.createAt  | date:"HH:mm | dd/MM/yyyy" }}</p>
            </div>
          </div>
        </div>
        <button *ngIf="check2" mat-menu-item>Không có thông báo</button>
      </mat-menu>
      <mat-icon [matMenuTriggerFor]="menu2" matTooltip="Thông báo" *ngIf="checkNotifications"
                matBadge="{{count}}" matBadgeColor="warn"
                class="noti material-icons a1">notifications
      </mat-icon>
      <mat-icon *ngIf="check" [routerLink]="['/user/messenger']" matTooltip="Tin nhắn" matBadge="15"
                matBadgeColor="warn" class="noti a1">offline_bolt
      </mat-icon>
      <mat-menu #menu2="matMenu">
        <div class="row">
          <div class="col">
            <div style="margin-left: 10px; margin-bottom: 5px">Thông báo</div>
          </div>
          <div class="col" align="right" style="margin-right: 10px">
          <span (click)="deleteAll()" matTooltip="Xoá tất cả" style="color: gray" *ngIf="!check2"
                class="material-icons a1 font-size-18">delete_forever</span>
          </div>
        </div>
        <button mat-menu-item (click)="seenAll()" class="a2">
          <sub><span style="font-size: 17px" class="material-icons a1">notifications</span></sub>
          Đánh dấu đã đọc tất cả
        </button>
        <div class="row" *ngFor="let noti of notifications">
          <div class="row" style="margin-left: 10px; margin-right: 5px">
            <div class="col-2">
              <img class="a1" [routerLink]="['/user/people-detail', noti?.idAction?.id]"
                   src="{{noti?.idAction?.avatar}}"
                   style="width: 50px; height: 50px; border-radius: 50%">
            </div>
            <div class="col" style="margin-left: 8px; margin-top: 5px">
               <span class="a1" [routerLink]="['/user/people-detail', noti?.idAction?.id]"
                     matTooltip="Xem trang cá nhân"
                     style="color: #0a70b9">{{noti?.idAction?.fullName}}</span>
              <span [routerLink]="['/user/people-detail', noti?.idAction?.id]">&nbsp;{{noti?.title}}</span>
            </div>
          </div>
        </div>
      </mat-menu>
      <span [routerLink]="['/user/messenger']" matTooltip="Tin nhắn" class="noti material-icons a1">offline_bolt</span>
      <sub><span style="font-size: 41px; color: white" routerLink="/user/user-detail" matTooltip="Trang cá nhân"
                 class="a1 a2 material-icons">manage_accounts</span></sub>
    </div>
    <span *ngIf="!checkHRF2()" (click)="logOut()" matTooltip="Đăng xuất"
          style="font-size: 30px; margin-top: 34px; margin-left: 35px;"
          class="colorWhitesmoke a1 material-icons">logout</span>
    <span *ngIf="checkHRF2()" style="margin-top: 36px" class="colorWhitesmoke material-icons">star_rate</span>
    <h2 *ngIf="checkHRF2()" style="margin-top: 35px" class="colorWhitesmoke">
      &nbsp;Trò chuyện với bạn bè của bạn&nbsp;</h2>
    <span *ngIf="checkHRF2()" style="margin-top: 36px" class="colorWhitesmoke material-icons">star_rate</span>
  </div>
</header>
