<div class="row">
  <div class="col">
    <h2 style="color: #0a70b9; width: 300px; padding: 0px !important;; margin: 0px !important;">Thông báo !</h2>
  </div>
  <div class="col" align="right">
    <sub><span style="font-size: 28px;" class="material-icons a1">info</span></sub>
  </div>
</div>
<hr>
<div mat-dialog-content><h3>Đang kiểm tra dữ liệu...&emsp;<sub>
  <span style="color: #4bc928" class="material-icons">cloud_upload</span>
</sub></h3></div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div mat-dialog-actions align="end">
  <button class="btn-primary hoverDialog" mat-button (click)="onNoClick()">Đóng</button>
</div>
