.a1 {
  cursor: pointer;
}

.margin-left-95 {
  margin-left: 95px;
}

. border-radius-10 {
  border-radius: 10px;
}

.font-size-25 {
  font-size: 25px;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}
