<div class="backArrowDiv">
       <span matTooltip="Quay lại"
             [routerLink]="['/user/newsfeed']"
             class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>
<div class="divFix">
  <div class="c1" style="margin-top: 30px">
    <div class="row">
      <div class="col-3">
        <button [routerLink]="['/user/groupCreate']"
                mat-stroked-button color="primary">Tạo nhóm mới
        </button>
        <hr>
        <h3 style="font-size: 20px; color: deeppink"
            class="margin-bottom-0 grey a2">Nhóm do bạn quản lý</h3>
        <div *ngFor="let s of myGroup">
          <div class="row" style="height: 86px">
            <div style=" margin: 10px; background-color: #e5e5e5" class="border-radius-5px col-11">
              <div class="row" style="margin-top: 5px">
                <div class="col-4">
                  <img style="font-size: 40px; width: 70px; height: 70px;  margin-bottom: 5px"
                       [routerLink]="['/user/groupDetail', s?.id]"
                       matTooltip="Xem nhóm" src="{{s?.coverGroup}}" alt="" class="border-radius-10 a1"/>
                </div>
                <div class="col-8">
                  <h2 style="margin-top: 15px">{{s?.groupName}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h3 style="font-size: 20px; margin-top: 10px; color: deeppink"
            class="margin-bottom-0  grey a2">Nhóm đã tham gia</h3>
        <div *ngFor="let s of groupJoin">
          <div class="row" style="height: 86px">
            <div style=" margin: 10px; background-color: #e5e5e5" class="border-radius-5px col-11">
              <div class="row" style="margin-top: 5px">
                <div class="col-4">
                  <img style="font-size: 40px; width: 70px; height: 70px; margin-bottom: 5px"
                       [routerLink]="['/user/groupDetail', s?.id]"
                       matTooltip="Xem nhóm" src="{{s?.coverGroup}}" alt="" class="border-radius-10 a1"/>
                </div>
                <div class="col-8">
                  <h2 style="margin-top: 15px">{{s?.groupName}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-8" style="margin-left: 8%;">
        <div class="row">
          <div class="col">
            <h2 style=" margin-left: 105px">Gợi ý cho bạn</h2>
          </div>
          <div class="col">
            <form style="margin-bottom: 30px">
              <input placeholder="Tìm kiếm nhóm" class="font-size-25"
                     style="outline: none;border-radius: 8px; border: 1px solid; width: 250px; height: 30px;
               background-repeat: no-repeat !important;"
                     type="search" id="search">
            </form>
          </div>
        </div>
        <div class="row" style="margin-bottom: 30px;" *ngFor="let g of allGroup">
          <div style=" background-color: #e5e5e5" class="border-radius-5px col-11">
            <div class="row">
              <div class="col">
                <img src="{{g.coverGroup}}"
                     style="width: 350px; height: 200px; margin-left: 5px; margin-top: 10px; margin-bottom: 10px"
                     class="border-radius-5"
                     alt="">
              </div>
              <div class="col">
                <h2 class="margin-bottom-0">{{g.groupName}}</h2>
                <div class="row">
                  <div class="col-6">
                    <h3 class="margin-bottom-0">Thể loại: {{g.type}}</h3>
                    <h3 class="margin-bottom-0">Thành viên: {{g.numberUser}}</h3>
                  </div>
                  <div class="col-6">
                    <button style="margin-bottom: 10px" [routerLink]="['/user/groupDetail', g.id]" mat-raised-button
                            color="primary">Tham gia nhóm
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
