
.font-size-17 {
  font-size: 17px;
}

.h3List {
  font-size: 20px;
}

.left1 {
  width: 20%;
  float: left;
}

.left2 {
  width: 50%;
  float: left;
}

.left3 {
  width: 15%;
  float: left;
}

.height450px {
  height: 400px;
}

.hc:hover {
  background-color: #f1eded;
}
