.a1 {
  cursor: pointer;
}

.a3 {
  background: url("https://genk.mediacdn.vn/139269124445442048/2020/9/11/pixabay-268533-15998400717292059239383.jpg");
  background-size: auto;
  border-radius: 10px;
}
