<div class="backArrowDiv">
       <span matTooltip="Quay lại"
             [routerLink]="['/user/user-detail']"
             class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>
<div class="row">
  <div class="container" style="font-size: 18px">
    <div id="page-contents">
      <div class="col-2"></div>
      <div class="col-md-8">
        <!-- Change Password
           ================================================= -->
        <div class="block-title">
          <h2 class="grey">Đổi mật khẩu</h2>
          <div class="line"></div>
          <p>Tạo mật khẩu mới với 6-32 ký tự. Mật khẩu mạnh là mật khẩu là sự kết hợp của các ký tự, số và ký
            hiệu.</p>
          <div class="line"></div>
        </div>
        <div class="edit-block">
          <form [formGroup]="updateForm" (ngSubmit)="update()" name="update-pass" id="education"
                class="form-inline">
            <div class="row">
              <div class="form-group col-xs-12">
                <label for="my-password">Mật khẩu cũ</label>
                <input style=" width: 181px !important;height: 40px;" formControlName="password" id="my-password"
                       class="form-control input-group-lg"
                       type="password" name="password" title="Enter password" placeholder="Mật khẩu cũ"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-12">
                <div style="color: red; padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['password'].errors?.['required']
                         && updateForm.controls['password'].touched">{{messageNotBlank}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <label>Mật khẩu mới</label>
                <input style="height: 40px" formControlName="newPassword" class="form-control input-group-lg"
                       type="password"
                       name="password" title="Enter password" placeholder="Mật khẩu mới"/>
              </div>
              <div class="form-group col-xs-6">
                <label>Xác nhận lại mật khẩu</label>
                <input style="height: 40px" formControlName="confirmPassword" class="form-control input-group-lg"
                       type="password"
                       name="password" title="Enter password" placeholder="Xác nhận lại mật khẩu"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <div style="color: red;padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['newPassword'].errors?.['required']
                         && updateForm.controls['newPassword'].touched">{{messageNotBlank}}
                </div>
                <div style="color: red;padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['newPassword'].errors?.['minlength']
                         && updateForm.controls['newPassword'].touched">{{messagePassword}}
                </div>
                <div style="color: red;padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['newPassword'].errors?.['maxlength']
                         && updateForm.controls['newPassword'].touched">{{messagePassword}}
                </div>
              </div>
              <div class="form-group col-xs-6">
                <div style="color: red;padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['confirmPassword'].errors?.['required']
                         && updateForm.controls['confirmPassword'].touched">{{messageNotBlank}}
                </div>
                <div style="color: red;padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['confirmPassword'].errors?.['minlength']
                         && updateForm.controls['confirmPassword'].touched">{{messagePassword}}
                </div>
                <div style="color: red;padding-left: 30px" role="alert"
                     *ngIf="updateForm.controls['confirmPassword'].errors?.['maxlength']
                         && updateForm.controls['confirmPassword'].touched">{{messagePassword}}
                </div>
              </div>
            </div>
            <button class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
      </div>
      <!--Sticky Timeline Activity Sidebar-->
    </div>
  </div>
</div>
