<div class="divFix">
  <div class="block-title">
    <div class="row">
      <div style="float: left; width: 4%">
        <span class="material-icons">published_with_changes</span>
      </div>
      <div style="float: left; width: 20%">
        <h2 class="grey">Đổi mật khẩu</h2>
      </div>
    </div>
    <div class="line"></div>
    <p>Tạo mật khẩu mới với 6-32 ký tự. Mật khẩu mạnh là mật khẩu có sự kết hợp của các ký tự, số và ký
      hiệu.</p>
  </div>
  <div>
    <form [formGroup]="updateForm" (ngSubmit)="updatePassword()" name="update-pass" id="education">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="my-password">Mật khẩu cũ</label>
          <input style="height: 40px;" formControlName="passwordOld" id="my-password"
                 class="form-control input-group-lg"
                 type="password" name="password" title="Enter password" placeholder="Mật khẩu cũ"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <div style="color: red;" role="alert"
               *ngIf="updateForm.controls['passwordOld'].errors?.['required']
                         && updateForm.controls['passwordOld'].touched">{{messageNotBlank}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label>Mật khẩu mới</label>
          <input style="height: 40px" formControlName="passwordNew" class="form-control input-group-lg"
                 type="password"
                 name="password" title="Enter password" placeholder="Mật khẩu mới"/>
        </div>
        <div class="form-group col-xs-6">
          <label>Xác nhận lại mật khẩu</label>
          <input style="height: 40px" formControlName="confirmPasswordNew" class="form-control input-group-lg"
                 type="password"
                 name="password" title="Enter password" placeholder="Xác nhận lại mật khẩu"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <div style="color: red" role="alert"
               *ngIf="updateForm.controls['passwordNew'].errors?.['required']
                         && updateForm.controls['passwordNew'].touched">{{messageNotBlank}}
          </div>
          <div style="color: red" role="alert"
               *ngIf="updateForm.controls['passwordNew'].errors?.['minlength']
                         && updateForm.controls['passwordNew'].touched">{{messagePassword}}
          </div>
          <div style="color: red" role="alert"
               *ngIf="updateForm.controls['passwordNew'].errors?.['maxlength']
                         && updateForm.controls['passwordNew'].touched">{{messagePassword}}
          </div>
        </div>
        <div class="form-group col-xs-6">
          <div style="color: red" role="alert"
               *ngIf="updateForm.controls['confirmPasswordNew'].errors?.['required']
                         && updateForm.controls['confirmPasswordNew'].touched">{{messageNotBlank}}
          </div>
          <div style="color: red" role="alert"
               *ngIf="updateForm.controls['confirmPasswordNew'].errors?.['minlength']
                         && updateForm.controls['confirmPasswordNew'].touched">{{messagePassword}}
          </div>
          <div style="color: red" role="alert"
               *ngIf="updateForm.controls['confirmPasswordNew'].errors?.['maxlength']
                         && updateForm.controls['confirmPasswordNew'].touched">{{messagePassword}}
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Cập nhật</button>
    </form>
  </div>
</div>
