<div class="backArrowDiv">
  <span matTooltip="Quay lại"
        [routerLink]="['/user/user-detail']"
        class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>
<div class="divFix">
  <div *ngIf="count == 0" style="height: 350px" align="center">

    <h2 style="margin-top: 150px">Bạn không có nhóm</h2>
    <span style="font-size: 30px" class="material-icons">groups</span>
    <p class="a1 a2" [routerLink]="['/user/groupCreate']"><a>Tạo nhóm ngay?</a></p>
  </div>
  <div *ngIf="count > 0">
    <h2>Nhóm của bạn</h2>
    <div *ngFor="let s of myGroup">
      <div class="row border-radius-5" style="height: 86px; background-color: #e5e5e5; margin-bottom: 5px">
        <div class="col-4">
          <img
            style="font-size: 40px; width: 70px; height: 70px; margin-bottom: 5px; margin-top: 8px; border-radius: 5px"
            [routerLink]="['/user/groupDetail', s?.id]"
            matTooltip="Xem nhóm" src="{{s?.coverGroup}}" alt="" class="border-radius-10 a1"/>
        </div>
        <div class="col-8">
          <h2 style="margin-top: 15px">{{s?.groupName}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
