.colorGray {
  color: gray;
}

.li1 {
  margin-left: 5px;
}

.divLi1 {
  border: #e5e5e5 1px solid;
  border-radius: 5px;
}

.c1 {
  width: 500px !important;
}

.i1 {
  border-radius: 15px;
}

.new1 {
  border-top: 1px solid #d90f92;
}
