.colorGray {
  color: gray;
}

.li1 {
  margin-left: 5px;
}

.divLi1 {
  border: #e5e5e5 1px solid;
  border-radius: 5px;
}

.a1 {
  cursor: pointer;
}

.c1 {
  width: 500px !important;
}

.i1 {
  border-radius: 15px;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.border-radius-10 {
  border-radius: 10px;
}
.new1 {
  border-top: 1px solid #d90f92;
}
