<div class="backArrowDiv">
  <span *ngIf="idUser == idUserLogIn" matTooltip="Quay lại"
        [routerLink]="['/user/user-detail']"
        class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
  <span *ngIf="idUser != idUserLogIn" matTooltip="Quay lại"
        routerLink="/user/people-detail/{{idUser}}"
        class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>
<div class="divFix">
  <div class="row">
    <div align="left" class="col">
      <h2 *ngIf="idUser != idUserLogIn">
        <sub><span class="material-icons">collections</span></sub> Ảnh của : {{fullNameUser}}</h2>
      <h2 *ngIf="idUser == idUserLogIn" (click)="getAllImage(idUser); closeListImageDelete()" class="a1 a2">
        <sub><span class="material-icons">collections</span></sub>&nbsp;Ảnh của bạn</h2>
    </div>
    <div align="center" class="col">
      <h2 *ngIf="idUser == idUserLogIn && !checkListImageDelete">
        <ul class="publishing-tools list-inline" *ngIf="!loading">
          <sub>
            <span (change)="onFileSelected($event)"
                  matTooltip="Tải ảnh lên"
                  class="a1 a2 material-icons btn-file">add_a_photo
              <input type="file" name="image" autocomplete="off" class="a1 form-control">
            </span>
          </sub>
          &nbsp;Thêm ảnh
        </ul>
        <ul class="publishing-tools list-inline" *ngIf="loading">
          <sub>
            <span style="color: gray"
                  matTooltip="Tải ảnh lên"
                  class="a1 a2 material-icons btn-file">add_a_photo
            </span>
          </sub>
          &nbsp;Thêm ảnh
        </ul>
      </h2>
    </div>
    <div align="right" class="col">
      <h2 *ngIf="idUser == idUserLogIn" (click)="getAllImageDeleted(); openListImageDelete()" class="a1 a2">
        <sub><span class="material-icons">delete</span></sub>&nbsp;Ảnh đã xóa</h2>
    </div>
  </div>
  <div class="row" *ngIf="checkListImage && !checkListImageDelete && !loading">
    <div *ngFor="let image of images">
      <div class="row">
        <span style="margin-right: 7px; margin-left: 13px" *ngIf="image?.user?.id == idUserLogIn && check1"
              (click)="delete(image?.id)"
              matTooltip="Xóa ảnh" class="a1 a2 material-icons">delete</span>
        <span *ngIf="idUser == idUserLogIn" [matMenuTriggerFor]="menu"
              class="material-icons a1 a2" matTooltip="Tuỳ chọn">more_horiz</span>
        <mat-menu #menu="matMenu">
          <button class="a2 font-size-16" (click)="changeImage(image?.id, typeAvatar)" mat-menu-item>
            Đặt làm ảnh đại diện
          </button>
          <button class="a2 font-size-16" (click)="changeImage(image?.id, typeCover)" mat-menu-item>
            Đặt làm ảnh nền
          </button>
        </mat-menu>
      </div>
      <img class="zoomImage imageChange"
           style="width: 250px; height: 250px; border-radius: 10px;
           margin-right: 10px; margin-bottom: 10px; box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3)"
           src="{{image?.linkImage}}" alt="Lỗi">
    </div>
  </div>

  <div class="row" *ngIf="checkListImageDelete && !checkListImage">
    <div *ngFor="let image of images2">
      <div class="row">
        <span style="margin-right: 7px; margin-left: 13px" *ngIf="image?.user?.id == idUserLogIn && check2"
              (click)="delete2(image?.id)"
              class="a1 a2 material-icons" matTooltip="Xóa hẳn ảnh không hồi phục">delete_forever</span>
        <span *ngIf="image?.user?.id == idUserLogIn && check2" class="a1 a2 material-icons"
              (click)="restoreImage(image?.id)" matTooltip="Khôi phục">restore_from_trash</span>
      </div>
      <img class="zoomImage imageChange"
           style="width: 250px; height: 250px; border-radius: 10px; margin-right: 10px; margin-bottom: 10px"
           src="{{image?.linkImage}}" alt="Lỗi">
    </div>
  </div>
  <div align="center" *ngIf="loading">
    <div style="height: 180px" class="row"></div>
    <mat-spinner [diameter]="100"></mat-spinner>
    <span style="font-size: 18px">Đang tải ảnh</span>
    <div style="height: 180px" class="row"></div>
  </div>

  <div style="{{height}}" align="center">
    <div *ngIf="count == 0 && check1">
      <h2 style="margin-top: 100px">Không có ảnh</h2>
      <sub>
        <span style="color: blueviolet; font-size: 100px" class="material-icons">collections</span>
      </sub>
    </div>
    <div *ngIf="count2 == 0 && check2">
      <h2 style="margin-top: 100px">Không có ảnh đã xóa</h2>
      <sub>
        <span style="color: limegreen; font-size: 100px" class="material-icons">recycling</span>
      </sub>
    </div>
  </div>
</div>

